body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    overflow: hidden;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header,
.footer,
.hero {
    background: #1F2937;
    color: #F9FAF8;
}

.header {
    height: 50px;
    width: 100%;
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    font-size: 24px;
    font-weight: 700;
    margin-left: 15vw;
}

.header-links {
    margin-right: 15vw;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 24px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.hero {
    display: flex;
    padding: 150px 15vw;
    gap: 48px;
}

.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hero-title {
    font-size: 48px;
    font-weight: 900;
}

li,
.hero-description {
    font-size: 18px;
    color: #E5E7EB;
}

button,
.action {
    background: #3882F6;
}

button {
    border: none;
    border-radius: 5px;
    color: #F9FAF8;
    padding: 0;
}

.hero-button {
    width: 125px;
    height: 30px;
    margin-top: 15px;
}

.information {
    width: 70vw;
    margin-bottom: 150px;
}

.information-title {
    text-align: center;
    margin: 55px 0 55px 0;
}

.information-container {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.card {
    display: flex;
    flex-direction: column;
    max-width: 150px;
    text-align: center;
}

.action {
    color: #F9FAF8
}

.action-button {
    border: solid;
    border-color: #F9FAF8;
    border-width: 2px;
}

.information-title {
    font-size: 36px;
    font-weight: 900;
}

.card-image {
    border-radius: 20px;
    border-style: solid;
    border-color: #3882F6;
}
.information-title,
.quote-text {
    color: #1F2937
}

.quote {
    background: #E5E7EB;   
}

.quote-text {
    font-style: italic;
    color: #1F2937;
}

.footer {
    width: 100vw;
    margin-top: auto;
}